/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

/* body{
  font-family: "Montserrat";
} */

html{
  scroll-behavior: smooth;
}



h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

/* Heading */

.big-heading{
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 800;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}



.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

/* Navgation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Ubuntu";
  font-size: 1.2rem;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0%;
}

/* <!-- Features --> */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;

  margin-bottom: 1rem;

  transition-duration: 0.3s;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*Pricing Section*/

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
  text-align: center;
}


#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}

.cta-h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
  font-weight: 800;
}

#footer{
  text-align: center;
  padding: 7% 15%;
}

.social-icon{
  margin: 20px 10px;
}


@media (max-width: 991px){
  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}
